[2021-06-26 18:19] DraftProducts opened #49 "Réécriture complète du projet"
Dans la volontée de faire évoluer ce projet, je penses qu'il serait intéressant de faire une réécriture complète de Blagues-API avec des technologies plus maintenues, plus stable et plus poussées.

Une branche `dev` permettra notamment cette évolution en douceur tout en gardant la version master pour la version actuelle.
L'idéal serait de n'avoir aucunes **breaking-changes** pour cette réécriture

[2021-08-06 09:57] DraftProducts commented on #49
Le projet à bien évolué grâce l'aide de @saphirrc & @ErwanGit.

Voici où en est l'évolution de la réécriture:

#### [Site web](https://github.com/Blagues-API/blagues-api/tree/dev/src/nuxt)
- [x] Création du nouveau design sous figma
- [x] Mise en place de la structure de nuxt en mode programatic avec Fastify
- [x] Intégration de la page d'accueil sous nuxt
- [x] Responsive de la page d'accueil
- [

[2021-11-19 13:30] renovate[bot] opened #143 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Rate Limited

These updates are currently rate limited. Click on a checkbox below to force their creation now.

 - [ ] chore(deps): update dependency sharp to ^0.29.3 (`sharp`, `@types/sharp`)
 - [ ] chore(deps): update devdependency @types/jsonwebtoken to

[2021-12-06 04:23] #49 closed

[2021-12-06 10:23] DraftProducts opened #172 "Auto-suppression des suggestions ou corrections si le message est supprimé"

[2021-12-06 10:25] DraftProducts opened #173 "Vérifier si une blague n'a pas déjà été suggérée dans le salon"
Le système de détection de blagues dupliquées se base actuellement sur les blagues déjà ajoutées, nous pourrions l'étendre aux blagues suggérées pour éviter les doublons.

[2021-12-06 16:46] DraftProducts opened #174 "Ajout d'une commande permettant de voir les statistiques d'ajouts de blagues"

[2021-12-07 00:21] DraftProducts opened #177 "Amélioration du design des messages indiquant qu'une blague est dupliquée"
Utilisation d'un field pour l'affichage de la blague qui y ressemble et ajout des parrains en fin de field

![image](https://user-images.githubusercontent.com/29425008/144943366-8a137dc0-ebb8-443c-90b0-09f22d4acc05.png)

[2021-12-07 17:22] DraftProducts opened #179 "Ajouter un système de rappels pour les parrains"
En fin de journée (avec un Cron), le bot enverrait un message dans un salon avec une liste des actions que chaque Parain pourrait effectuer, on pourrait imaginer le format suivant:

<Mentions des parrains concernés dans le message>

Afin d'éviter les mentions abusives pour une seule action, on pourrait imaginer qu'on mentionnerait que les parrains qui ont plus de 2 ou 3 options.

[2021-12-08 19:56] coco875 opened #184 "Ajout d'un lien vers la correction en cours dans les messages de suggestions"
Ajouter le lien de correction quand la blague est en cours de correction pour voir la proposition faite.

[2021-12-08 20:30] #174 closed, assigned to DraftProducts

[2021-12-08 20:31] #177 closed, assigned to DraftProducts

[2021-12-08 20:35] #172 closed, assigned to DraftProducts

[2021-12-09 01:53] DraftProducts opened #187 "Empêcher l'approbation de corrections impures (obsolètes)"

[2021-12-11 17:11] #187 closed, assigned to DraftProducts

[2021-12-15 14:26] DraftProducts opened #198 "Refonte du système de statistiques"
Pour le nouveau système de statistiques, il est prévu de donner plus ou moins de points en fonction de l'appréciation de la blague. Chaque action donne un certain nombre de points.

### Système de points

| Action      | Points      |
|------------|-----------|
| Proposition d'une blague | +10 points |
| Correction d'une blague | +7 points |
| Approbation d'une blague* | +4 points |
| Désapprobati

[2021-12-15 14:27] DraftProducts opened #199 "Amélioration et uniformisation des couleurs:"

[2021-12-15 14:30] DraftProducts opened #200 "Amélioration et uniformisation des couleurs"

[2021-12-15 14:35] #179 closed, assigned to DraftProducts

[2021-12-15 14:38] DraftProducts opened #201 "Ajout automatique de rôles"
- Ajout automatique du rôle blagueur lors d'une blague approuvée
- Ajout automatique du rôle correcteur lors d'une correction approuvée

[2021-12-15 20:23] MrPRAINGLE opened #202 "Amélioration des hypertextes"
Yo ! Suite à l'approbation d'une blague dont je n'avais pas approuvé la correction, cet EMBED s'est envoyé :

![image](https://user-images.githubusercontent.com/93079960/146258789-42ef3952-0278-4695-beb0-3e5c6e0071d2.png)

Du coup, je me disais : "Et si on rajoutait un lien hypertexte à la fin, à **cette suggestion**, comme ça par exemple : [cette suggestion](https://www.youtube.com/watch?v=dQw4w9

[2021-12-16 17:56] MrPRAINGLE opened #204 "Problème lors de l'approbaion d'une blague"
Petit truc, totalement logique mais pas très pratique, on ne peut pas approuver une blague après y avoir fait une correction, vu qu'il faut approuver cette correction mais qu'on ne peut pas approuver les siennes. Exemple pour être plus clair : La blague c'est "bananne", je la corrige en "Banane", et après je ne peux pas l'approuver.

[2021-12-19 10:55] coco875 opened #206 "Modifier le nombre d'approuvation à 2 aux lieux de 3 pour que la correction soit valider"

[2021-12-19 13:49] ErwanGit opened #210 "Passer tous les messages de confirmation en ephemeral"
Il faudrait passer tous les messages des actions pour valider une suggestion/correction en ephemeral

Actuellement, tous les messages de validation pour dire que la correction a été validé ou qu'une blague a été ajoutée à l'API ne sont pas ephemeral et il faut passer derrière pour les supprimer manuellement

[2021-12-19 17:49] DraftProducts commented on #204
Ce système a été mis en place afin d'éviter que des blagues soient ajoutées à l'API avec des fautes.

[2021-12-19 17:49] #204 closed, assigned to nobody

[2021-12-19 19:23] #201 closed, assigned to DraftProducts

[2021-12-19 19:23] #202 closed, assigned to DraftProducts

[2021-12-19 19:26] #206 closed, assigned to DraftProducts

[2021-12-19 19:29] #210 closed, assigned to DraftProducts

[2021-12-19 20:04] #200 closed, assigned to DraftProducts

[2021-12-24 14:30] Proryon opened #223 "Point dans la commande "/stats""
![image](https://user-images.githubusercontent.com/85037053/147359222-ea3d3201-ad85-4da8-8790-f549d5ae59af.png)

[2022-01-01 15:46] #223 closed, assigned to nobody

[2022-01-03 15:34] matiaschileno opened #234 "Ajouter CORS"
L'API n'accepte pas des requêtes Cross Origin. Serait-il possible d'ajouter https://github.com/fastify/fastify-cors ? Sur un ancien commit (quand l'API était sur express: https://github.com/Blagues-API/blagues-api/commit/0a6af8d84e5eff438639a1e36d5f2f6a8e0185d7) vous l'aviez déjà ajouté mais depuis la refonte ce n'est plus le cas. Merci.

[2022-01-03 16:45] DraftProducts commented on #234
Je m'en occupe ! Merci pour l'issue 👍

[2022-01-03 16:56] #234 closed, assigned to DraftProducts

[2022-01-03 16:57] DraftProducts commented on #234
C'est en production 👍

[2022-01-03 19:07] matiaschileno commented on #234
Super, merci pour la réactivité @DraftProducts  !

[2022-01-10 12:39] Proryon opened #243 "Pouvoir approuver les blagues malgré correction en cours"
Je vous propose que lorsqu'une blague a une correction, au lieu d'être bloqué par la correction qu'on puisse tout de même l'approuver & prévienne qu'une correction est en cours.

[2022-01-20 13:06] MrPRAINGLE opened #264 "Pouvoir retirer son appréciation de parrain"
Jusqu'ici, après approbation / désapprobation, c'est impossible de retirer son avis. Ca pourrait être plus simple par exemple si on misclicke et qu'on désapprobe une de ses propres blagues / corrections et qu'on ne peut donc pas mettre une approbation à la place

[2022-01-20 20:53] DraftProducts commented on #243
Le souci avec ça, c'est qu'on publiera une blague avec des fautes.
À la limite, on peut bloquer uniquement la dernière approbation, mais selon moi il faut garder le blocage.

[2022-01-20 20:56] Proryon commented on #243
Après c'est juste agaçant de ne pas pouvoir voter une blague. Au pire on peut suivre ton idée qui est bonne au final. Au moins ça nous arrêtes pas trop

[2022-01-20 21:18] coco875 commented on #243
Après tu peux rajouter une sorte d'étape ou c'est validée en attente de la fin de la correction

[2022-01-20 23:55] DraftProducts commented on #243
J'aime bien l'idée ✌️

[2022-01-20 23:55] #264 closed, assigned to DraftProducts

[2022-01-21 05:18] Proryon commented on #243
Why not ? Bonne idée.

[2022-02-26 20:09] #173 closed, assigned to nobody

[2022-05-06 13:04] Zuruuh opened #313 "[Feature] Moyen d'obtenir l'id d'une blague en passant par le bot"
Quand on récupères une blague avec le bot et qu'on aimerais y ajouter une correction, on a aucun moyen de trouver l'id de la blague en question pour faire la suggestion. Un simple fix serait juste d'ajouter en bas de l'embed de la blague son id

[2022-05-06 16:47] ErwanGit commented on #313
Tu peux obtenir l'identifiant d'une blague en activant le mode développeur sur ton Discord, puis en réalisant un clique droit, copier l'identifiant

https://docs.draftbot.fr/autres/recuperer-un-identifiant#message

[2022-05-08 14:00] Zuruuh commented on #313
Le soucis c'est que le bot ne trouve pas les blagues déjà acceptées avec l'id d'un message crée avec un /blague. Par contre, quand on récupère une blague directement depuis l'api (donc on obtient son id), on peut correctement créer une correction.

[2022-05-08 14:03] Zuruuh opened #317 "Bump la version de node du dockerfile"
La version 16.14 de node n'est plus dispo sur le docker hub, donc ce serait pas mal de migrer sur la version 16.15. (À l'heure actuelle le script dev:build fail à cause de ça)

Edit: my bad le soucis venais de moi, desolé pour le désagrément

[2022-05-08 14:06] #317 closed, assigned to nobody

[2022-05-14 17:55] DraftProducts commented on #313
Ouip, compris, je suis d'accord 👍
Une amélioration de la commande `/blague` est nécessaire.

[2022-05-14 18:24] #313 closed, assigned to DraftProducts

[2022-05-14 18:31] DraftProducts commented on #317
Salut @Zuruuh on a bump vers la `18.1` :v:

[2022-06-15 21:32] ErwanGit opened #323 "Certains éléments de l'embed retiré lors de la validation d'une correction"
La validation finale d'une correction retire la couleur et l'auteur de l'embed de la blague qui est suggérée ![image](https://user-images.githubusercontent.com/24718500/173933423-9d7e4041-33b5-43ea-9d5f-4f6fa8faf14f.jpeg)

[2022-06-18 13:18] DraftProducts commented on #323
Erreur survenue de l'intent des messages désactivé sur le panel

[2022-06-18 13:18] #323 closed, assigned to nobody

[2022-06-20 04:14] swiizyy opened #328 "Components in message info et Problème"
Ajouter un composant vide avec les embeds pour les fonction interactionInfo et interactionProbleme pour eviter de laisser les boutons comme ci dessous
![image_2022-06-20_061415934](https://user-images.githubusercontent.com/52933626/174524020-b4e163c3-f912-4cee-836e-9d5e5c9f1cde.png)

[2022-06-20 15:27] DraftProducts opened #331 "Boutons toujours utilisables lors de l'étape de correction d'une blague."
![image](https://user-images.githubusercontent.com/29425008/174634637-4d063417-007c-4773-b71b-d4981ecb6fad.png)

Il faudrait retirer les boutons afin de faire comprendre qu'ils ne sont plus utilisables.
Bonus :
 - Ajouter des boutons sur le nouveau message
 - Ajouter la partie qu'on modifie en \`\`\` code \`\`\` pour pouvoir copier/coller facilement (dans un embed ?).

[2022-06-20 15:28] #328 closed, assigned to swiizyy

[2022-06-20 17:48] plumedours opened #333 "Proposition de endpoint"
Serait-il possible d'avoir des endpoints :
- soit pour obtenir toutes les blagues d'un coup
- soit obtenir le nombre total de blague
- soit avoir des filtres par types, pour obtenir toutes les blagues d'un type (merci Zuruh)

[2022-06-20 22:36] #184 closed, assigned to swiizyy

[2022-06-20 23:39] swiizyy opened #335 "Suppression du message d'erreur ( no proposal ) apres 5 secondes"
![correction-embed](https://user-images.githubusercontent.com/52933626/174689170-13d9716e-cfb7-4e1f-9d87-0c744f0d69e2.PNG)

[2022-06-21 08:23] swiizyy opened #340 "Ajouter la possibilité de demander une blague d'un type aléatoire avec la commande blague"
- Passez la commande en sous commandes ( random, type | aléatoire, type)
- Renvoyer joke au message en fonction du nom de la sous commande

![image](https://user-images.githubusercontent.com/52933626/174751116-d934529b-b646-4048-916f-1e366cabb1a5.png)

[2022-06-21 08:51] swiizyy commented on #340
Voici une [branche](https://github.com/Swiizyy/blagues-api/tree/feats/subcommands-joke) pour l'exemple.
A voir si cela peut être intéressant.
Si oui je ferais une [PR](https://github.com/Blagues-API/blagues-api/pulls).

[2022-06-21 08:56] swiizyy commented on #331
🤔 Peut être juste désactiver les boutons pendant le requestChange et une fois l'etape fini ou annulé a cause tu timeout les réactiver ?

[2022-06-21 09:06] swiizyy opened #341 "Permissions par default des commandes (Approuver/Desaprouver )"
Pourquoi ne pas mettre une permission par default au rôle parrain uniquement ?

[2022-06-21 09:12] swiizyy opened #342 "Laissez l'emojis seulement si la blague sa pas encore été ajoutés a l'API ou la correction ajouter à la suggestion ?"
- Pk ne pas les retirer se serais plus propres sans et éviterais d'avoir des emojis en trop sur les message ?
- Cela laisserais au membre de réagir seulement a des corrections non migrée ou suggestion non ajouté a l'API.
![image](https://user-images.githubusercontent.com/52933626/174763272-edd003df-ad29-44b9-a1ec-9f22009e5a9f.png)

[2022-06-21 12:23] DraftProducts commented on #331
Les désactiver revient à la même chose que les supprimer 🤔
Mais en soit oui ça permettra d'éviter le problème.

[2022-06-21 15:26] swiizyy commented on #340
- ~~Passez la commande en sous commandes ( random, type | aléatoire, type)~~
- - Ajouter un type random

[2022-06-21 16:28] #331 closed, assigned to nobody

[2022-06-21 16:36] #340 closed, assigned to DraftProducts, swiizyy

[2022-06-21 16:37] #342 closed, assigned to nobody

[2022-06-21 16:37] #341 closed, assigned to swiizyy

[2022-06-21 16:41] #335 closed, assigned to swiizyy

[2022-06-22 14:10] swiizyy opened #354 "✨Amélioration du système de sticky message"
Idée de @achille-bsc
Changer le système de messages collants ( actuellement un timeout) pour un évènement messageCreate
Cela permettra une optimisation du système ainsi qu'une meilleur fluidité pour le message collant
PR #352

[2022-06-22 17:53] achille-bsc opened #356 "Statistiques via context menu"
Je propose l'ajout d'une commande de type ContextMenu User pour la commande de Stats qui permettrais d'avoir les statistiques d'un utilisateur précis en faisant simplement un clic droit sur l'utilisateur en question. Le message qui en résultera serais éphémère pour que cette commande puisse être utilisée dans n'importe quel salon sans problème.

[2022-06-22 23:54] swiizyy opened #358 "Refonte de la commande stats (global)"
Je propose la refonte de la commande stats pour compléter l'issues #198  :
- Celle ci serais sous forme de page.
- Un maximum de 25 utilisateurs par page.
- Changer de pages via des boutons ( <= | - | => )

[2022-06-23 02:06] achille-bsc commented on #358
perso je trouve que c'est une bonne idée, et je propose même de m'en occuper si vous voullez @DraftProducts ou @ErwanGit

[2022-06-23 02:57] DraftProducts commented on #358
Yes j'aime bien l'idée 👍
Essayez de voir avec @saphirrc pour bosser en corrélation avec lui, c'est lui qui avait été assigné à cette refonte de statistiques :v:
Si @Swiizyy & @saphirrc ne souhaitent pas s'en charger, on pourra te l'assigner stv @achille-bsc.

[2022-06-23 06:41] swiizyy opened #360 "Amélioration de la commande (stats user)"
Je propose une amélioration de la commande (stats user) pour les issues #198 et #356 .Voici trois models :
Model 1:
![model-1](https://user-images.githubusercontent.com/52933626/175232070-2126e085-f3c9-401f-8d60-8e117f6680dd.PNG)
Model 2:
![model-2](https://user-images.githubusercontent.com/52933626/175232068-1749ee59-d06e-4064-99d7-1c905f957a26.PNG)
Model 3:
![models-3](https://user-images.github

[2022-06-23 09:57] achille-bsc commented on #360
perso j'ai une préférence pour le model n°1, mais il faudrais quand même y ajouter les décisions de Parrain malgrès tout... donc je proposerais de faire un mélange du 1 et du 3 🤔

[2022-06-23 10:10] swiizyy commented on #360
Les décisions du parrains sont sur le model 1 c'est les approbations et désapprobations @achille-bsc

[2022-06-23 10:16] achille-bsc commented on #360
Ah oui, pardon 😅 c'est juste que c'était un peut moins visible, mais okk je voit ! Perzo je valide à fond le modèle 1

[2022-06-23 10:25] swiizyy commented on #360
En gros si il est parrain les case Approbations et Désapprobation seront visible sinon non

[2022-06-23 10:39] swiizyy opened #361 "Ameliorations des commandes stats"
Je propose de séparer la commande en deux commands :
- 1 = leaderbord => Affiche les toutes les statistiques
- 2 = stats => Affiche les stats de l'utilisateur/d'un utilisateur

[2022-06-23 10:57] DraftProducts commented on #360
Perso j'aime bien le modèle 3 🤔
Il sera plus facile à dev, car on pourra isoler le field 3 pour les parrains.
Les deux premiers seront donc toujours les mêmes pour tous les utilisateurs.

[2022-06-23 11:08] swiizyy commented on #360
En sois les trois ne sont pas compliquée a dev @DraftProducts
Mais oui j'ai également une préférence pour le 3 🙂

[2022-06-23 11:17] swiizyy opened #362 "Amélioration du module reminders"
Quelques amélioration:
- Le titre passe en nom de l'auteur + Icon du bot
- Un nouveau titre qui changera de typo dynamiquement
- Fix du footer qui s'afficher pas si il y avais seulement une page
- Si il y a plus de deux page l'icone du bot s'affiche dans le footer

[2022-06-23 11:29] achille-bsc commented on #361
ce serait plutôt inutile vu qu'on à déjà la possibilitée de voir les stats d'un utilisateur en particulier sous forme de userOption facultatif

[2022-06-23 11:32] swiizyy commented on #361
beh si une personne veut passer par cette commandes elle pourras 🤷‍♂️ je voulais mettre sa avant que tu mette la commande en contextmenu mais j'avais oublier

[2022-06-23 11:33] swiizyy commented on #361
sinon dans se cas on enlève la partie user comme y'aura le contextmenu mais j'aurais bien fait mon choix 2 perso

[2022-06-23 11:34] swiizyy commented on #361
Quand pense tu @DraftProducts ?

[2022-06-23 11:48] swiizyy commented on #361
En plus @achille-bsc c'est très facile à intégrer pour le coups avec les fonctions dans l'autres fichier 🙂

[2022-06-23 11:53] DraftProducts commented on #361
Je suis pas fan du choix 2 ça dédouble juste les commandes.
Et je suis pas fan non plus de laisser que le context menu parce que ça veut dire qu'on ne peut pas afficher les stats via une mention, il faut que le context menu soit que du bonus.

[2022-06-23 11:53] achille-bsc commented on #361
Ah oui ok, je voit... bah ouais... ça poura être modif rapidement avec les fonctions que j'ai fais du coup

[2022-06-23 11:59] swiizyy commented on #361
@DraftProducts et le choix 1 tu en pense quoi ?

[2022-06-23 12:06] DraftProducts commented on #362
L'issue sert juste à parler de la fonctionnalité avant son développement.
Si tu as déjà fait la PR l'issue est inutile.

[2022-06-23 12:07] DraftProducts commented on #361
Ah j'avais mal lu le choix un

[2022-06-23 12:07] DraftProducts commented on #361
A la limite oui 👍

[2022-06-23 12:09] swiizyy commented on #361
Super alors 😁

[2022-06-23 12:20] #362 closed, assigned to nobody

[2022-06-23 12:22] achille-bsc commented on #361
Personnellement, je serais plus d'avis de laisser comme c'est actuellement. Je ne pense pas que ce soit nécessaire de modifier le design de la commande qui est déjà très simple d'utilisation comme ça... ça ne ferait que rajouter des commandes à la liste de commandes du bot, de mettre des sous-commandes…

[2022-06-23 15:21] MrPRAINGLE opened #364 "Utilisation des modals"
Vu qu'assez récemment (je crois) les modals sont sortis, et que je trouve que ça aiderait très bien pour le système de corrections, je propose de les y ajouter.

  Ce que je veux dire par là, c'est qu'actuellement, il faut des intents pour les messages, et à propos de messages, contrairement aux suggestions, quand quelqu'un veut faire une correction, des messages inutiles sont envoyés dans le #com

[2022-06-23 15:37] DraftProducts commented on #364
Le souci a déjà été corrigé et j'ai déjà check, le système de modal que Discord propose ne répond pas encore aux besoins pour le système de corrections, en plus on l'a entièrement refait il est beaucoup mieux mtn.

[2022-06-23 15:37] #364 closed, assigned to nobody

[2022-06-23 15:46] DraftProducts commented on #333
Salut @plumedours :v:

Le nombre de blagues est déjà obtenable via un endpoint non documenté : `GET /api/count`.

Pour ce qui est des autres proposés, pour l'instant j'aurais tendance à m'y opposer pour deux raisons :
 - Récupérer toutes les blagues ou seulement d'un type n'a pas vraiment d'intérêt et cela sort d'un cas d'usage d'une API.
 - En termes de réseau, tout récupérer est très désavantage

[2022-06-23 15:46] #333 closed, assigned to nobody

[2022-06-23 15:46] #354 closed, assigned to nobody

[2022-06-23 15:46] #356 closed, assigned to achille-bsc

[2022-06-23 17:22] #243 closed, assigned to DraftProducts

[2022-06-23 21:11] achille-bsc opened #366 "Amélioration reminder"
Ajouter un bouton sous le message de reminder pour que celui qui clique puisse voir en message éphémère la liste des Suggestions et Corrections sur lesquelles il peut interagir (Approuver, Désapprouver)

[2022-06-23 21:38] MrPRAINGLE opened #367 "Soucis de grammaire divers"
J'ai vu quelques soucis de grammaire ici et là, je les report ici.

[2022-06-23 21:45] MrPRAINGLE opened #368 "Pourquoi un field ?"
Sur l'embed des `/stats`, dans tous les cas, il y a un field "Statistiques globales". Ce qui voudrait dire qu'il aurait un autre field, mais il n'est disponible que pour les parrains. Je trouverais donc plus logique de juste mettre une description à l'EMBED plutôt qu'un field si le membre à afficher les statistiques n'est pas parrain.

[2022-06-23 22:46] achille-bsc commented on #367
Pour le premier report, ça a déjà été corrigé dans le code 😉
Pour le deuxième, je serais plus d'avis de mettre "et" au lieu d'une virgule, ça renforcera la compréhension du sens de la phrase.
Pour la 3ᵉ chui d'accord il faudra régler ça @DraftProducts 🙃
et pour la dernière je ne vois pas de quoi vous voulez parler 😓

[2022-06-23 22:49] achille-bsc commented on #368
Le système de statistiques est en train d'être refait, j'ai moi-même revu le design (suite à une suggestion de @Swiizyy) qui sera désormais refait de A à Z 🙃

[2022-06-23 22:57] MrPRAINGLE commented on #367
Dans la description des salons Discord #suggestions et #corrections, on retrouve respectivement  "pour les retrouver dans l'api" et "que vous trouvez dans l'api". Or le nom du bot et de l'API c'est "Blagues API" et non "Blagues api", donc ce que je suggère c'est de changer "api" en "API".
Et en passant, tutoie-moi stp 😅

[2022-06-23 23:02] achille-bsc commented on #367
Ah, okk j'avais pas compris 😅 mais après la différence c'est que Blagues-API c'est le nom de l'api... c'est pour ça que c'est écrit avec une majuscule partout... donc je ne sais pas si ce serait obligatoire de le mettre en majuscule dans ce contexte 🤔 mais en soit c'est vrai que c'est pas impossible 👍

[2022-06-23 23:05] MrPRAINGLE commented on #367
Bah le fait est que "API" c'est un acronyme donc ça devrait d'office être en majuscule.

[2022-06-23 23:29] #368 closed, assigned to nobody

[2022-06-23 23:47] saphirrc commented on #198
Pour le nouveau système de stats, il est prévu de donner plus ou moins de points en fonction de l'appréciation de la blagues. Chaque action donne un certain nombre de points.
_Le contenu entre parenthèse représente le nombre de points_

- [ ] Adapter la base de données pour ajouter les réactions
- [ ] Nombre de blagues ajouté (10), corrigé(7)
- [ ]  Parrain: approuvé(4), désapprouvé(4)
- [ ] Votes

[2022-06-24 11:45] #360 closed, assigned to achille-bsc

[2022-06-24 12:13] #358 closed, assigned to DraftProducts

[2022-06-24 12:36] #361 closed, assigned to swiizyy

[2022-06-25 21:31] #366 closed, assigned to swiizyy, achille-bsc

[2022-06-27 17:49] MrPRAINGLE opened #376 "Statistiques "à long terme""
Je propose un truc pour compléter l'issue #198, ça serait que l'activité dans le serveur soit prise en compte dans les statistiques. Ce serait pas beaucoup, mais par exemple à chaque mois d'inactivité (pour faire large) des points soient retirés des statistiques, ou ajoutés en bonus.

Par exemple, si le membre est actif, des points (jusqu'à, allez... 50) peuvent s'ajouter aux statistiques sous la

[2022-06-27 18:57] MrPRAINGLE opened #377 "Ajout d'un /report pour les doublons"
Personnellement, je trouve ça assez relou de partager les ID des blagues doublons pour que Draft les supprime. C'est long, pas hyper pratique, et ça doit sûrement prendre sur son temps.

  Donc je me dis, en ajout de la refonte du système de suggestions, pourquoi pas ajouter un `/report` ? Avec un nouveau salon et tout et tout, ça fonctionnerait pareil que les blagues / corrections mais ça ne rapp

[2022-06-28 15:23] MrPRAINGLE opened #379 "Impossibilité de voir les statistiques globales (voulu ?)"
Tout à l'heure, j'ai fait un ptit `/stats` comme ça et... Le `/stats` sans choisir d'options `user` renvoie les stats de l'auteur de la commande et plus les statistiques globales.

C'est voulu ou pas ? C'était drôlement pratique pour se repérer... C'est en lien avec le nouveau système de suggestions ?

[2022-06-28 16:22] achille-bsc commented on #379
C'est tout simplement par ce que les statistiques globales ont été transférés sur la commande "/leaderbord " ave cun système de pagination

[2022-06-29 08:41] DraftProducts commented on #376
Peut-être diminuer la valeur des points en fonction de la date de l'action ?
`Day 0 < x < 2 mois` : x1
`2 mois < x < 6 mois` : x0.75
`6 mois < x < Infini` : x0.5

Je ne suis pas trop pour, ça n'a pas vraiment de lien avec l'api, l'activité sur le serveur peut être vue avec le système de niveaux de DraftBot, je ne suis pas trop pour dupliquer un système pareil.

Là aussi je ne suis pas trop pour, ç

[2022-06-29 08:41] DraftProducts commented on #376
Qu'entends-tu par "activité" ? Nombre de messages envoyés ?

[2022-06-29 08:46] #379 closed, assigned to nobody

[2022-06-29 09:14] DraftProducts commented on #377
J'aime bien l'idée, mais je pense que nous pourrions aller plus loin et l'amener vers une commande qui permet la suppression d'une blague avec plusieurs raisons possibles.
`/report <ID> <Raison> <Information supplémentaire>`

[2022-06-30 16:54] MrPRAINGLE commented on #377
Pas bête, mais faudrait toujours une approbation des parrains du coup

[2022-07-01 10:49] DraftProducts commented on #377
Oui 👍

[2022-07-06 11:17] swiizyy opened #386 "Ne plus encombrer les salons suggestion/correction"
Je propose de désencombré ces salons en supprimant les messages au moment ou celle ci sont migré ou non migré sa ferais beaucoup moins de message dans le salon est de toute façon il y'a le salon logs qui les regroupe tous ..
Cela permettrais au membre de pas remonter 300 blagues migré ou pas pour ajouté un emoji a une blague et permettrais d'avoir des salons beaucoup plus propres 😄

[2022-07-06 11:30] swiizyy opened #387 "Améliorer le sticky messages"
Pourquoi ne pas relancer les stickys message quand il y'a une blague d'ajouté cela permettrais d'avoir toujours le bon nombre de blagues d'indiqué ?
Ce n'est pas grand chose mais sa serais toujours un plus je pense 🤷‍♂️

[2022-07-06 16:00] MrPRAINGLE commented on #386
Je suis d'accord, mais dans ce cas-là faudrait ajouter un salon #refus par exemple. Si jamais on retrouve de bons éléments.

[2022-07-06 16:06] swiizyy commented on #386
@MrPRAINGLE Tout est déjà stocker dans les logs

[2022-07-06 17:10] swiizyy commented on #386
@DraftProducts Tu en pense quoi ?
Le seul point négatif je pense sa serais qu'on ne puisse pas remonter les messages avec le lien qui va mener vers le log mais au pire on pourrais toujours faire un bouton remonter avec le lien du message supprimé nan ?

[2022-07-06 20:42] DraftProducts commented on #386
Je ne suis pas trop pour, l'historique des blagues représente l'ensemble du travail de la communauté, mais aussi son ancienneté.
C'est ce qui justifie le nombre de blagues actuel sur l'api.

[2022-07-06 20:43] DraftProducts commented on #387
Je trouve que c'est une bonne idée 👍

[2022-07-06 22:33] swiizyy commented on #387
Il va falloir revoir le système mais c'est jouable 🙂

[2022-07-07 10:49] #387 closed, assigned to nobody

[2022-07-07 10:54] swiizyy commented on #386
Au pire on peut le faire mais garder le salon en temps qu'archive ou tout le monde pourra aller voir.

Car les salons ne font pas du tout propres comme il le sont actuellement et se serais plus simple pour les membres de votés pour une blagues quand celle ci n'est pas pas 200 blagues plus haut car il n'ont aucun moyen de faire remonter les message automatiquement contrairement au parrains.

[2022-07-07 10:55] swiizyy commented on #386
Cela donnerais que tu positifs de mon point de vue

[2022-07-07 11:25] DraftProducts commented on #386
Si on avait fait ça au lancement du projet pourquoi pas, hors là il y a un grand nombre de blagues déjà présentes, je ne vois pas comment tu voudrais faire la migration.

[2022-07-07 11:45] swiizyy commented on #386
Justement je te propose de faire une catégorie archive ou tu mettras les salon actuel et d'en refaire d'autre au propres après.
Comme ca on aura toujours accès au ancienne blagues

[2022-07-08 01:45] achille-bsc opened #394 "Correction message"
Hello 👋 !
Je pensais que ce serait peut-être plus cohérent de mettre le message de confirmation lors de la proposition d'une correction en éphémère, comme pour le message de suggestion. Ou alors passer celui de suggestion en message non-éphémère... 🤷 comme vous préférez 🙃

<img width="474" alt="Capture d’écran 2022-07-08 à 03 41 25" src="https://user-images.githubusercontent.com/82178406/1778999

[2022-07-08 08:14] DraftProducts commented on #394
C'est ok pour moi, je dirais de tout passer en éphémère et d'améliorer le message de suggestion avec "proposition d'une".

[2022-07-08 08:34] swiizyy commented on #394
Je suis carrément pour bien jouer pour cette idée Achille !

[2022-07-08 08:44] Swiizyy commented on #394
@achille-bsc, Je vais te laisser faire une PR pour cette amélioration. Je ne vais pas la faire, le but n'est pas que je fasse personnellement toutes les PR possibles en un temps record et de ne laissez participer personne. 🤞

[2022-07-13 19:36] DraftProducts opened #398 "Auto-publication des blagues chaque semaine sur GitHub"
Nous pourrions réfléchir à un système pour auto-publier les blagues sur GitHub chaque dimanche (par exemple) s'il y en a de nouvelles, ça permettrait de les synchroniser automatiquement.

[2022-07-14 14:15] swiizyy commented on #394
@DraftProducts En faite y'a meme pas besoin grace aux modifs que tu a fait dans utils

[2022-07-14 14:35] DraftProducts commented on #394
Bon bah on peut close alors ✌️

[2022-07-14 14:35] #394 closed, assigned to achille-bsc

[2022-07-14 15:34] swiizyy commented on #386
Du coup Nico pour cette PR ?

[2022-07-14 15:42] swiizyy commented on #398
Ouais sa serais pas mal :)
Peut-être faire un script sh avec toute les commandes git qu'il faut et l'exécuter au moment on en aura besoin.
Au build peut être lancer un script qui nous connectera a GitHub avec un token dans le .env
Au demarrage peut être lancer un Timeout et dans celle ci vérifier si le jour choisi est le bon et si il y'a des modifs dans le fichier appeler le script sh.

Je sais pa

[2022-07-14 15:46] DraftProducts commented on #398
Oui je vois ce que tu veux dire mais je pense que ce serait plus stylé de dev un truc avec l'api GitHub 🤔

[2022-07-14 15:48] swiizyy commented on #398
comment sa ?🤔

[2022-07-14 15:48] DraftProducts commented on #386
Compte tenu de ce qui a été dit plus haut, je ne suis pas trop pour, ça rajoutera des salons, le système actuel me semble déjà suffisant.

[2022-07-14 15:48] #386 closed, assigned to nobody

[2022-07-14 15:57] DraftProducts commented on #398
https://stackoverflow.com/questions/11801983/how-to-create-a-commit-and-push-into-repo-with-github-api-v3
https://github.com/azu/git-commit-push-via-github-api

Voici de la doc pour illustrer ce dont je parle.

[2022-07-14 16:01] swiizyy commented on #398
Ohhhh trop classe 😮

[2022-07-14 16:14] swiizyy commented on #398
Vasy je tente de faire un truc se soir si tu est d'accord

[2022-07-21 10:09] #198 closed, assigned to swiizyy, saphirrc, achille-bsc

[2022-07-25 19:08] #376 closed, assigned to nobody

[2022-07-25 19:11] swiizyy commented on #398
@DraftProducts tu peux finalement te l'assigné, malheureusement je ne vais vraiment pas avoir le temps à partir d'aujourd'hui.

[2022-07-25 19:21] DraftProducts commented on #398
On va la laisser ouverte au cas où quelqu'un serait intéressé 👍

[2022-07-25 19:22] #367 closed, assigned to nobody

[2022-07-26 21:20] ErwanGit opened #408 "Pouvoir ignorer des types de blagues en tant que parrain"
Ajouter la possibilité de pouvoir ignorer certains types de blagues en tant que parrain pour éviter notamment d'être mentionné pour l'approbation des corrections/suggestions des blagues dont le type est ignoré.
On peut également faire en sorte que lorsque l'on appuie sur le bouton "Mes propositions", les blagues ignorés soient affichée, mais qu'elles soient barrées.

La configuration de cela se fe

[2022-07-27 15:15] swiizyy commented on #408
Vraiment une très bonne idée 👍🏼

[2022-08-17 20:59] MrPRAINGLE opened #418 "Changer la règle de vote d'une blague ayant une correction en cours"
Lorsqu'une blague a une correction en cours et qu'elle n'a pas été ajoutée ou refusée, on ne peut pas l'approuver sans approuver la correction ou la désapprouver sans désapprouver la correction. Mais et si la correction ne nous convient pas ? On la désapprouve. Et si la blague est bien, on ne peut pas l'approuver. C'est dommage, il faudrait faire en sorte que si l'on veuille donner son avis sur un

[2022-08-18 09:17] swiizyy commented on #418
@DraftProducts Tu en pense quoi ?
Je suis a 50/50 sur cette ajouts 😕

[2022-08-18 09:19] DraftProducts commented on #418
Perso je suis pour cet ajout, il n'a pas tord 👍

[2022-08-18 10:15] swiizyy commented on #418
@MrPRAINGLE Tu peut en faire une PR ou alors un commit sur la PR #415 car se n'est pas grand chose du tout .

[2022-08-18 10:25] DraftProducts commented on #418
Sur une PR à part svp, ce serait bien de la merge.

[2022-08-21 10:02] achille-bsc opened #421 "Aperçu du /leaderboard"
Sur la commande /leaderboard je pense que ce serait une bonne idée de mettre en gras la ligne qui correspond à l'utilisateur ayant fais la commande. Cela permettrais de faciliter la lecture de notre propre classement car la plupart du temps, on met un peut de temps à se trouver pour savoir combien on est dans le classement.

[2022-08-21 11:09] swiizyy commented on #421
J'aurais peut etre mis un sa plus un indicateur genre `>` pour mieux le voir

[2022-08-21 14:37] achille-bsc commented on #421
Ouais pourquoi pas, ou sinon les deux... jsp, je voullais déjà savoir si l'idée étais bonne ou non 🙃

[2022-08-21 15:26] swiizyy commented on #421
Ouaip 👍🏼
Si tu veut t'en occuper fait une PR :)

[2022-08-21 18:18] achille-bsc commented on #421
La chui pas chez moi, donc je peut pas le faire dans l'immédiat, mais j'aimerais bien m'en occuper 😅 on peut attendre la semaine pro ou pas ?
Sinon occupes-t-en si tu veux 🙃😉

[2022-08-21 20:57] DraftProducts commented on #421
C'est bon pour la semaine pro :v:

[2022-08-21 21:25] achille-bsc commented on #421
Cool ! Merci ^^

[2022-08-31 19:27] MrPRAINGLE opened #425 "Recherche dans les blagues par mot-clé"
Aah, quoi de plus rageant que de ne pas avoir de catégorie chuck norris... Et si on veut des blagues sur Hitler ? Les chats ? Le p'tit Gregory ? On pourrait faire une commande pour rechercher une blague ou liste de blagues par mot-clé !

[2022-09-07 16:20] ghost opened #428 "Dispatcher dynamique"
J'avais eu l'idée de rendre la fonction "register" de la classe "Dispatcher" dynamique pour charger automatiquement les fichiers des commandes... je n'ai aucune idée de comment faire ça, mais dans l'idée ça pourrais être plus propre et plus pratique de faire comme ça, que de devoir continuer à lister toutes les commandes dans le dispatcher…

[2022-09-07 16:55] DraftProducts commented on #428
Au vu du nombre de commandes qu'on a je sais pas si ça vaut le coup, mais si on valide le fait de le faire, je suis d'accord de m'en occuper 👍

[2022-09-07 16:58] achille-bsc commented on #428
Ouais, c'est vrai qu'on n'a pas beaucoup de commandes... mais à force d'en ajouter ça va finir par faire un certain nombre... et puis je trouve ça toujours un peu plus propre que de devoir tous les citer un à un non ? (après, je dit ça, mais je ne sais pas faire ce genre de handlers... donc si ça se trouve, ce n'est pas du tout le cas...)

[2022-09-07 19:44] DraftProducts commented on #428
C'est vrai que t'as raison, c'est plus propre.

[2022-09-07 19:44] DraftProducts commented on #428
Je m'en occuperais 👍

[2022-09-09 20:37] achille-bsc commented on #428
Cool ! j'ai hâte de voir comment tu feras ! ça m'intéresse à fond !

[2022-09-09 20:44] achille-bsc commented on #425
L'idée est vraiment bonne ! il faudrait en plus juste s'inspirer du système fait dans la commande "correction" et "delete" (enfin la fonction utilisée pour ça ⇒ "findJoke()") et la remettre sous forme de route dans l'api… Tu veux t'en occuper ? Sinon, chui pas sûr d'être capable de le faire... mais je pourrais au moins essayer, d'autant plus que c'est intéressant de toucher directement à l'api.

[2022-09-09 20:47] MrPRAINGLE commented on #425
Je veux bien !! Juste, je préfère avoir confirmation de quelqu'un d'autre avant de me lancer dans un truc comme ça... Vu que t'es le seul à avoir répondu, je sais pas si les autres pensent que c'est une bonne idée

[2022-09-09 23:33] swiizyy commented on #425
Je trouve que c'est une bonne idée 👍

Juste à attendre l'avis de DraftMan 🙂

[2022-09-10 13:05] achille-bsc opened #431 "Déplacement de la langue FR dans les localisations"
J'avais pensé à faire en sorte à ce que puisse mettre des nameLocalization sur les commandes, ça permettrais d'avoir les commandes et leurs arguments dans la langue de notre client, ce qui serait peut-être un peu mieux non ? c'est un détail, mais sur ce projet à partir de maintenant, il ne reste plus que les détails à peaufiner, je crois 😅

[2022-09-10 13:06] achille-bsc commented on #431
Quitte à ne mettre qu'en français pour le moment et par la suite ajouter l'anglais ou d'autres langues…

[2022-09-10 13:07] achille-bsc commented on #431
Et je pense que je serais prêt à le faire, il suffirait de changer quelques types dans la classe Command

[2022-09-10 13:09] swiizyy commented on #431
Y'aurais rien a changer dans Command a part dans le get Data retourner les nameLocalisations

[2022-09-10 19:34] #428 closed, assigned to DraftProducts

[2022-09-10 19:37] achille-bsc commented on #431
ouais, enfin je checkerais ça au moment de le faire si l'ajout est validé tkt 😉

[2022-09-10 21:20] #421 closed, assigned to achille-bsc

[2022-09-11 10:12] swiizyy opened #432 "Ajout d'une commande Correction dans le MessageContextMenu"
Le but serait de pouvoir faire une correction à partir d'un message comme pour les approbations.
Cela nous renverrait vers le salon #commands ou la commande serais pré-lancer.

Étapes :
- Crée une commande Correction de Type MessageContextMenuCommand.
- Check s'il existe une blague ou correction à partir du message-id.
- - Si Non, renvoyé une erreur.
- - Si Oui, démarré la commande Correction dans

[2022-09-11 10:13] DraftProducts commented on #431
Pas vraiment convaincu par l'idée, le contenu ainsi que les blagues sont en français.

[2022-09-11 10:14] DraftProducts commented on #431
à la limite ce qui pourrait se tenter c'est le nom des commandes + arguments en anglais et une traduction complête en français.
ça permettrait d'utiliser des accents

[2022-09-11 10:16] swiizyy commented on #431
Je crois que c'etait sa le but 🤔

[2022-09-11 11:00] DraftProducts commented on #431
D'acc bah perso je suis pour 👍

[2022-09-11 13:01] #377 closed, assigned to nobody

[2022-09-11 13:02] DraftProducts commented on #377
Superseded by #424, which remove useless features and includes requested changes.

[2022-09-11 22:07] achille-bsc commented on #431
OK 👍  nickel ! Dans ce cas, je lance une pr de suite 🙃

[2022-09-11 22:16] DraftProducts commented on #425
Je vois l'intérêt que ça pourrait avoir, mais je ne suis pas forcément client de ce genre de commande, du moment que cette idée motive quelqu'un, que c'est bien fait et réfléchi, c'est good pour moi 👍

[2022-09-14 12:45] achille-bsc commented on #398
Hello ! je pense avoir finit le PR sur les nameLocalization ! si vous la validez, je veux bien tenter de m'en occuper ! j'ai déjà commencé à regarder un peut... et ça à l'air faisable en vrai 🤔

[2022-09-14 13:38] DraftProducts commented on #398
Alors, on part là-dessus 😎

[2022-09-14 17:40] achille-bsc commented on #398
Étant donné que le merge des blagues sur github concerne l'entièretée de l'api, je le fais ou le système ? dans le dossier bot ?

[2022-09-17 19:33] achille-bsc commented on #431
si tout le monde est  ok pour valider la PR dites le moi et ensuite on va pouvoir merge 🙃

[2022-09-18 12:56] #431 closed, assigned to achille-bsc

[2022-09-19 09:05] achille-bsc commented on #398
Ce soir je lance la pr pour que vous puissiez commencer à faire un début de review

[2022-11-03 10:06] achille-bsc commented on #408
Moi je peut m'en occuper si ya personne qui le fais 🤷 c'est vrai que ce serait pratique...
Je promet pas que ce sera fais ultra rapidement mais bon 😓

[2022-11-03 11:59] DraftProducts commented on #408
Si tu veux ✌️
Suffit que tu demandes a @Zuruuh l'accès à son repo.

[2022-11-03 12:23] achille-bsc commented on #432
perso je verrais bien un système ou le bot nous renverrais un message ephemère ou on pourais choisir ce qu'on voudrais modifier sur la blague, et selon ce qu'on séléctionne ça nous met le selectMenu si on choisit de changer le type... ou sinon ça nous ouvre un modal pour changer la blague ou sa réponse

[2022-11-06 11:21] AulysV opened #448 "Utilisation d'un formulaire lors de la proposition d'une blague"
La proposition d'une blague se fait actuellement _via_ une commande. Discord propose une fonctionnalité qui permet d'envoyer des informations à un bot, à travers un "formulaire" (dont voici un exemple). J'ignore s'il est possible de créer des listes déroulantes pour la sélection du type de blague, mais je pense qu'il est possible d'en définir un après l'envoi.

![image](https://user-images.githubu

[2022-11-06 15:43] DraftProducts commented on #448
Pour l'instant ce n'est pas encore possible d'ajouter de sélecteurs aux modals ce qui rend pour l'instant les commandes Slash le meilleur support pour la suggestion de blagues :
https://discord.com/developers/docs/interactions/receiving-and-responding#interaction-response-object-modal
![image](https://user-images.githubusercontent.com/29425008/200180285-a80e41f4-e9ca-4fe1-9395-be28eff27105.png)

L

[2022-11-06 15:43] #448 closed, assigned to nobody

[2022-11-07 23:54] achille-bsc commented on #398
je peut  fermer l'issue du coup ou pas vu que je crois que le code à été  merge vu que je voit plus la PR....

[2022-11-08 08:40] DraftProducts commented on #398
What ? Non rien n'a été merge, il n'y a plus la moindre trace de la branche 🤔

[2022-11-08 08:46] DraftProducts commented on #398
Il a du supprimer son fork 🤔

[2022-11-08 09:56] swiizyy commented on #398
Il n'y a jamais eu de PR pour cette issue il me semble 🙂

[2022-11-08 13:52] achille-bsc opened #449 "Suggestion de suppression"
Ce serait pratique que n'importe qui puisse proposer une blague à retirer de l'api, et comme pour les suggestions de blagues, les parrains pourront approuver ou desaprouver... ça me semble être un bon système pour les blagues qui ont été acceptés il y a un moment alors qu'elles ne le seraient peut-être pas actuellement...

[2022-11-08 14:02] DraftProducts commented on #398
En effet, je crois que je l'ai confondue avec #416 🤔

[2022-11-08 14:03] DraftProducts commented on #398
Ta branche existe bel et bien @achille-bsc https://github.com/Blagues-API/blagues-api/tree/feat/joke-aut-publication, je crois que tu n'as juste jamais créé de PR.

[2022-11-08 14:54] achille-bsc commented on #398
Ah ok, je croyais que si... bah je fais ça se soir en rentrant ou demain aprem...

[2022-11-10 17:34] #418 closed, assigned to swiizyy

[2022-11-10 17:51] DraftProducts commented on #449
On a ajouté la commande `/delete` dans #424 (qui a remplacé l'idée de la commande `/report`) pour ces cas de figure extrêmes, mais selon moi, une fois qu'une blague a été ajoutée, elle n'a pas de raison d'être à nouveau retiré.
Si une discussion dans le salon des parrains voit le jour pour la suppression d'une blague, on le fera, mais en dehors de ce cas de figure, on ne devrait pas avoir à revoir

[2022-11-10 17:51] #449 closed, assigned to nobody

[2022-11-10 19:49] #408 closed, assigned to DraftProducts

[2022-11-11 18:00] MrPRAINGLE commented on #425
Je m'en charge ! :)

[2022-11-11 19:37] DraftProducts commented on #425
Si tu penses que tu es en mesure de mener cette idée à terme, c'est d'accord.
Tu as laissé en plan la dernière PR pendant 2 mois et j'ai dû m'en charger 🤷‍♂️

[2022-11-12 12:45] #398 closed, assigned to achille-bsc